<!DOCTYPE html>
<html>
<head>
  <title>TwitterChat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="app-header">
		<hgroup>
			<h1>Twitter Chat</h1>
			<h2>conversations had in the twitterverse</h2>
		</hgroup>
	</header>

	<div id="container">	

		<%= yield %>
		
		<footer>
			<small>Created at <mark>Quickleft</mark> by <mark>Max Katz</mark><span>(c)Quickleft Apprenticeship Program 2012</span></small>
		</footer>
	</div>
</body>
</html>
